

.divInicial{
    background-color: #282C34;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.divCont{
    min-height: 100vh;  
}

.title{
    color: white;
    font-size: 144px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.slogan{
    color: white;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.saibaMais{
    font-size: 64px;
    height: 100px;
    width: 600px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-top: 20px;
}